{% extends "base.html" %}

{% block head %}

{% load static %}
<link rel="stylesheet" href="{% static 'fg.css' %}">

{% endblock head %}

{% block body %}
<div class="div4">
<div class="login-container">
	<form method="post" class="card">
		{% csrf_token %}
	    <h2 class="text-center">Reset Password</h2>
		{% for field in form %}
	    		{{ field.label_tag }} 
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags  }}</small> 
	        	{% endif %}
		{% endfor %}
		
		<button type="submit">Submit</button>
		<br>
			<a href="{%url 'login' %}"  class="Cancel">Cancel</a>
		
	</form>
	</div>
</div>
	{% endblock body %}