{% extends "base.html" %}



{% block title %}Login Page{% endblock title %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static "login.css" %}">

    {% endblock head %}
{% block body %}

<div class="div2">
    <div class="div1">
        <h2>Login</h2>
        <form action="{% url "login" %}" method="post">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit">Login</button>
        </form>
        <br>
        <p>Don't have an account? <a href="/signup/">Sign up here</a>.</p>
        <br>
        <p>Forget Password ? <a href="{% url "password-reset" %}">click here</a>.</p>
    </div>
</div>
    {% endblock body %}

